version: "3.3"

services:
  ui:
    image: ${DOCKER_REG}${DOCKER_REPO}${APP_NAME}:${DOCKER_TAG}
    build:
      context: .
    container_name: ui
    restart: unless-stopped
    environment:
      - REACT_APP_INSTALLATION=citizen
      - REACT_APP_API_URL_USER_MANAGEMENT=https://portal.skillab-project.eu/user-management
      - REACT_APP_API_URL_KU=https://portal.skillab-project.eu/ku-detection
      - REACT_APP_API_URL_KPI=https://portal.skillab-project.eu/policy
      - REACT_APP_API_URL_JBPM=https://portal.skillab-project.eu/jbpm/business-central/kie-wb.jsp
      - REACT_APP_API_URL_TRACKER=https://skillab-tracker.csd.auth.gr
      # - REACT_APP_API_URL_TRACKER_USERNAME=${REACT_APP_API_URL_TRACKER_USERNAME}
      # - REACT_APP_API_URL_TRACKER_PASSWORD=${REACT_APP_API_URL_TRACKER_PASSWORD}
      - REACT_APP_API_URL_LABOUR_DEMAND=https://portal.skillab-project.eu/labor-market-demand
      - REACT_APP_API_URL_SKILLS_REQUIRED=https://portal.skillab-project.eu/required-skills
      - REACT_APP_API_URL_SKILLS_DIVERSITY=https://portal.skillab-project.eu/diversity-analysis
      # - REACT_APP_API_URL_SKILL_ARCHETYPAL_DIVERSITY=http://localhost:8087
      - REACT_APP_API_URL_SKILL_DEMAND_MATRIX=https://portal.skillab-project.eu/hcv
      - REACT_APP_API_URL_CURRICULUM_SKILLS=https://portal.skillab-project.eu/curriculum-skills
      - REACT_APP_API_URL_HIRING_MANAGEMENT=https://portal.skillab-project.eu/hiring-management
      - REACT_APP_API_URL_EMPLOYEE_MANAGEMENT=https://portal.skillab-project.eu/employee-management
      - REACT_APP_API_URL_SKILL_AGEING=https://portal.skillab-project.eu/skill-ageing
      - REACT_APP_API_URL_GIANT_COMPONENT_NETWORKS=https://portal.skillab-project.eu/giant-component-networks
      - REACT_APP_API_URL_ESCOPLUS_SKILLS_EXTENDER=https://portal.skillab-project.eu/escoplus-skills-extender
      - REACT_APP_API_URL_OCCUPATIONAL_DEMAND_FORECASTER=https://portal.skillab-project.eu/occupational-demand-forecaster
      - REACT_APP_API_URL_FUTURE_TECHNOLOGY_TRENDS_IDENTIFIER=https://portal.skillab-project.eu/future-technology-trends-identifier
      - REACT_APP_API_URL_POLICY_SUCCESS_EVALUATOR=https://portal.skillab-project.eu/policy-success-evaluator
    ports:
      - '3000:3000'
    labels:
      io.portainer.accesscontrol.teams: skillab-all
