version: "3.3"

services:
  ui:
    image: ${DOCKER_REG}${DOCKER_REPO}${APP_NAME}:${DOCKER_TAG}
    build:
      context: .
    container_name: ui
    environment:
      - REACT_APP_API_URL_KU=http://localhost/ku-detection
      - REACT_APP_API_URL_KPI=http://localhost/policy
      - REACT_APP_API_URL_JBPM=http://localhost/jbpm/business-central/kie-wb.jsp
      - REACT_APP_API_URL_TRACKER=http://skillab-tracker.csd.auth.gr
      - REACT_APP_API_URL_LABOUR_DEMAND=http://195.251.210.147:8873
      - REACT_APP_API_URL_SKILLS_REQUIRED=http://195.251.210.147:8874
      - REACT_APP_API_URL_SKILLS_DIVERSITY=http://195.251.210.147:8870
      # - REACT_APP_API_URL_SKILL_ARCHETYPAL_DIVERSITY=http://localhost:8087
      - REACT_APP_API_URL_SKILL_DEMAND_MATRIX=http://195.251.210.147:8872
    ports:
      - '3000:3000'
    labels:
      io.portainer.accesscontrol.teams: skillab-all
