.industry-my-artifact input,
.industry-my-artifact textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px; /* Ελαφρώς πιο στρογγυλεμένες γωνίες */
}

.industry-my-artifact textarea {
  height: 120px;
  resize: vertical;
}