
.indicator-graph {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .indicator-graph h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  /* Additional styles for the LineChart component */
  .recharts-wrapper {
    width: 100%;
    height: 100%;
  }
  
  /* Style for the legend */
  .recharts-legend-wrapper {
    margin-top: 10px;
  }
  
  /* Style for tooltip */
  .recharts-tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for tooltip label */
  .recharts-tooltip-label {
    font-weight: bold;
  }
  
  /* Style for tooltip value */
  .recharts-tooltip-item-value {
    font-size: 14px;
  }
  
  /* Style for the axis labels */
  .recharts-axis-labels {
    font-size: 14px;
    color: #333;
  }
  
  /* Style for grid lines */
  .recharts-cartesian-grid-horizontal,
  .recharts-cartesian-grid-vertical {
    stroke: #ccc;
    stroke-dasharray: 3 3;
  }