
/* Style for the container of the IndicatorData component */
.IndicatorData {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
}

/* Style for the list */
.interaction-box ul {
  list-style: none;
  padding: 0;
}

/* Style for each list item */
.interaction-box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the Delete button */
.interaction-box button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.interaction-box button:hover {
  background-color: #c0392b;
}

/* Style for the title */
.interaction-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
}


.interaction-box ul {
  height: 200px;
  padding: 0px;
  margin: 0px;
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;
  /* display: flex; */
  flex-direction: column-reverse;
}

.interaction-box li p{
  text-align: left;
  text-align: bottom;
}