.indicator_component_panel {
  margin-bottom: 16px;
}

.indicator-button {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: background-color 0.3s ease;

  &.active {
    background-color: #007bff;
    color: white;
  }
}

.indicator-button:hover {
  background-color: #ccc;
}



.new-indicator-section {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.new-indicator-section input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  flex: 1;
}

.new-indicator-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.new-indicator-section button:hover {
  background-color: #0056b3;
}