.metric_component_panel {
    margin-bottom: 16px;
  }
  
.metric-button {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: background-color 0.3s ease;

  &.active {
    background-color: #007bff;
    color: white;
  }
}

.metric-button:hover {
  background-color: #ccc;
}