.metrics-setup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left,
.center,
.right {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  /* background-color: #f7f3edf3; */
  height: 100vh; 
}

.seperator{
  padding: 20px;;
}

.left div {
  background-color: #cfcecc81;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  display: block;
  width: 100%;
  text-align: left;
  transition: background-color 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.operators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.operators button {
  background-color: #93c491;
  color: #000000;
  border: 2px solid #9e9e9e;
  padding: 10px 20px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.2s;
  font-size: 16px; /* Adjust the font size as needed */
  display: flex; /* Center vertically and horizontally */
  align-items: center;
  justify-content: center;
 font-weight: bold;
}

.operators button:hover {
  background-color: #60805f;
}

.right button {
  background-color: #dceef8f3;
  color: #000000;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  transition: background-color 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 3px solid #a3a3a3;  
  font-size: 13px; /* Adjust the font size as needed */
  display: flex; /* Center vertically and horizontally */
  align-items: center;
  justify-content: center;
}

.right button:hover {
  background-color: #b8c3cff3;
}

.equation-input {
  height: 100px; /* Set the desired height for the input */
  resize: vertical; /* Allow vertical resizing */
  padding: 10px;
  font-size: 18px; /* Adjust the font size as needed */
}

.section-title{
  padding: 10px 20px;
  margin: 5px 5px 0 0;
  text-align: center;
  font-size: 20px; /* Adjust the font size as needed */
 font-weight: bold;
}

.create-button {
  background-color: #adf8a6;
  color: #000000;
  
  border: 2px solid #9e9e9e;
  padding: 10px 20px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.2s;
  font-size: 16px; /* Adjust the font size as needed */
 font-weight: bold;
 display: block;
  margin: 0 auto; /* This centers the button horizontally */
  display: flex; /* Center vertically and horizontally */
  align-items: center;
  justify-content: center;

}

.create-button:hover {
  background-color: #2dc56c;
}
