
.metric-data {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .metric-data h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .metric-data ul {
    list-style: none;
    padding: 0;
  }
  
  .metric-data li {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .metric-data span {
    font-size: 1rem;
  }
  
  .metric-data button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .metric-data button:hover {
    background-color: #c0392b;
  }

  .metric-data ul {
    height: 200px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
    /* display: flex; */
    flex-direction: column-reverse;
  }
  
  .metric-data li p{
    text-align: left;
    text-align: bottom;
  }